<footer class="footer pt-5 mt-5">
  <div class="pt-5">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-5 ms-auto text-center">
          <h4 class="mb-1">Contact us:</h4>
        </div>
        <div class="d-flex col-lg-5 me-lg-auto my-lg-auto mt-5">
          <a href="https://t.me/rakamaka_phone" class="btn btn-info mb-0 me-2" target="_blank">
            <i class="fab fa-telegram me-1"></i> Telegram
          </a>
          <a href="https://www.facebook.com/oleksandrmamchur14" class="btn btn-primary mb-0 me-2" target="_blank">
            <i class="fab fa-facebook-square me-1"></i> Facebook
          </a>
          <a href="https://www.instagram.com/rakamakaphone1/?igshid=ZDdkNTZiNTM%3D" class="btn btn-dark mb-0 me-2" target="_blank">
            <i class="fab fa-instagram me-1"></i> Instagram
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="text-center">
      <p class="my-4 text-sm">
        Friends' IMDB by &copy; <a target="_blank" href="https://www.facebook.com/oleksandrmamchur14" target="_blank">Oleksandr Mamchur</a>
      </p>
    </div>
  </div>
</footer>
