<ul class="sidebar-nav">
  {% if user.is_authenticated %}
    <li>User: {{ user.username }}</li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
  {% else %}
    <li><a href="{% url 'login' %}">Login</a></li>
  {% endif %}

  <br>

  <li><a href="{% url 'catalog:index' %}">Home page</a></li>
  <li><a href="{% url 'catalog:movie-list' %}">All Movies</a></li>
  <li><a href="{% url 'catalog:genre-list' %}">All Genres</a></li>
  <li><a href="{% url 'catalog:actor-list' %}">All Actors</a></li>
</ul>
