{% extends "base.html" %}


{% block content %}
  <h1>Actor: {{ actor.first_name }} {{ actor.last_name }}
  <a href="{% url 'catalog:actor-update' pk=actor.id %}" class="btn btn-secondary link-to-page">
    Update
  </a>
  <a href="{% url 'catalog:actor-delete' pk=actor.id %}" class="btn btn-danger link-to-page">
    Delete
  </a>
  </h1>

  <h3>Filmography:</h3>
  <ul>
    {% for movie in actor.movies.all %}
    <li>
      <a href="{% url 'catalog:movie-detail' pk=movie.id %}">{{ movie }}</a>
    </li>
    {% endfor %}
  </ul>
{% endblock %}