{% extends "base-presentation.html" %}


{% block content %}
  <div class="container top-5 mt-7" >
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-between">
          <h3 class="mr-auto">Genre: {{ genre.name }}</h3>
          <div class="ml-auto">
            <a href="{% url 'catalog:genre-update' pk=genre.id %}" class="btn btn-secondary link-to-page ml-2">
              Update
            </a>
          </div>
        </div>
        <h5>Movies:</h5>
        <ul>
          {% for movie in genre.movies.all %}
          <li>
            <a href="{% url 'catalog:movie-detail' pk=movie.id %}">{{ movie }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
