{% extends "base.html" %}


{% block content %}
  <div class="d-flex align-items-center">
    <h1 class="mr-auto">Movie: {{ movie.title }}</h1>
    <div class="d-flex align-items-center">
      <a href="{% url 'catalog:movie-update' pk=movie.id %}" class="btn btn-secondary link-to-page ml-2">
        Update
      </a>
      <a href="{% url 'catalog:movie-delete' pk=movie.id %}" class="btn btn-danger link-to-page ml-2">
        Delete
      </a>
    </div>
  </div>
  <h5>Release year: {{ movie.year }}</h5>
  <br>
  <h5>Genres:
  {% for genre in movie.genres.all %}
    <a href="{% url 'catalog:genre-detail' pk=genre.id %}">{{ genre.name }}</a>
  {% endfor %}
  </h5>
  <br>
  <h6>Cast:</h6>
  <ul>
    {% for actor in movie.actors.all %}
      <li>
        <a href="{% url 'catalog:actor-detail' pk=actor.id %}">{{ actor.first_name }} {{ actor.last_name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}