{% extends "base.html" %}


{% block content %}
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="m-0">Movies:</h1>

    <a href="{% url 'catalog:movie-create' %}" class="btn btn-primary ml-auto">
      Create
    </a>
  </div>
  {% block search %}
    {% include "includes/search.html" %}
  {% endblock %}
  <ul>
    {% for movie in movie_list %}
      <li><a href="{% url 'catalog:movie-detail' pk=movie.id %}">{{ movie }}</a>
        {% for genre in movie.genres.all %}
          {{  genre.name  }}
        {% endfor %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}